{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DjangoGirls</a>
    </nav>
    <div class="container">
        {% for post in posts %}
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">
                    <a href='/posts/{{ post.pk }}/'>제목 : {{ post.title }}</a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">글 생성시간 : {{ post.created_date }}</h6>
                <p class="card-text">글 내용: {{ post.text|linebreaksbr|truncatechars:200 }}</p>
                <p class="text-right">작성자 : {{ post.author }}</p>
            </div>
            <!--작성자 정보-->
            <!--글 생성 시간-->
            <!--글 내용-->

        </div>
        {% endfor %}
    </div>
</body>
</html>